<div class="landing">
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <!-- <div class="carousel-indicators" style="margin-top: -90px">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div> -->
    <div class="carousel-inner" id="banner">
      <div class="carousel-item active fixed-top" data-bs-interval="300" style="z-index: -99">
        <img src="assets/images/banner.jpg" class="w-100 img-fluid" alt="..." />
      </div>
      <div class="carousel-item fixed-top" data-bs-interval="200" style="z-index: -99">
        <img src="assets/images/banner2.jpg " class="w-100 img-fluid" alt="..." />
      </div>
      <div class="carousel-item fixed-top" data-bs-interval="200" style="z-index: -99">
        <img src="assets/images/banner.jpg" class="w-100 img-fluid" alt="..." />
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev" id="previous">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next" id="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <h5 class="alert alert-light" id="drawer-BS">Best Seller</h5>
  <div id="card-product" style="margin-top: -35px">
    <div class="card border cb" style="width: 18rem">
      <a href="">
        <img src="assets/images/product-best-seller/contoh-hoodie-bsell.jpeg" class="card-img-top" alt="..." />
      </a>
      <div class="card-body" id="card-b">
        <h5 class="card-title mb-3">Hoodie Metal</h5>
        <s style="color: red"><p class="card-text" style="color: red; font-size: 1rem">Rp. 120.000</p></s>
        <h6 class="text-notdisc">Rp. 100.000</h6>
        <span class="mt-2">Size</span>
        <div class="container mt-4">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <div class="col border">S</div>
            <div class="col border">M</div>
            <div class="col border">L</div>
            <div class="col border">XL</div>
          </div>
        </div>
      </div>
      <div class="card-body" id="drawer-shopp">
        <span class="drawer-shopee">
          <a href="#" class="card-link" style="text-decoration: none">
            <img src="https://img.icons8.com/fluency/48/null/shopee.png" class="icon-shopee" />
          </a>
        </span>
        <span class="drawer-lazada">
          <a href="#" class="card-link" style="text-decoration: none">
            <img
              src="assets/icon/icon-lazada3.svg
            "
              class="icon-lazada"
            />
          </a>
        </span>
        <span class="drawer-tokopedia">
          <a href="#" class="card-link" style="text-decoration: none">
            <img src="assets/icon/icon-tokopedia2.svg" class="icon-tokopedia" />
          </a>
        </span>
        <span class="drawer-whatsapp">
          <a href="#" class="card-link" style="text-decoration: none">
            <img src="https://img.icons8.com/color/48/null/whatsapp--v1.png" class="icon-whatsapp" />
          </a>
        </span>
      </div>
    </div>

    <!-- 2 -->

    <div class="card border cb" style="width: 18rem">
      <a href="">
        <img src="assets/images/product-best-seller/contoh-hoodie-bsell.jpeg" class="card-img-top" alt="..." />
      </a>
      <div class="card-body" id="card-b">
        <h5 class="card-title mb-3">Hoodie Metal</h5>
        <s style="color: red"><p class="card-text" style="color: red; font-size: 1rem">Rp. 120.000</p></s>
        <h6 class="text-notdisc">Rp. 100.000</h6>
        <span class="mt-2">Size</span>
        <div class="container mt-4">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <div class="col border">S</div>
            <div class="col border">M</div>
            <div class="col border">L</div>
            <div class="col border">XL</div>
          </div>
        </div>
      </div>
      <div class="card-body" id="drawer-shopp">
        <span class="drawer-shopee">
          <a href="#" class="card-link" style="text-decoration: none">
            <img src="https://img.icons8.com/fluency/48/null/shopee.png" class="icon-shopee" />
          </a>
        </span>
        <span class="drawer-lazada">
          <a href="#" class="card-link" style="text-decoration: none">
            <img
              src="assets/icon/icon-lazada3.svg
            "
              class="icon-lazada"
            />
          </a>
        </span>
        <span class="drawer-tokopedia">
          <a href="#" class="card-link" style="text-decoration: none">
            <img src="assets/icon/icon-tokopedia2.svg" class="icon-tokopedia" />
          </a>
        </span>
        <span class="drawer-whatsapp">
          <a href="#" class="card-link" style="text-decoration: none">
            <img src="https://img.icons8.com/color/48/null/whatsapp--v1.png" class="icon-whatsapp" />
          </a>
        </span>
      </div>
    </div>

    <!-- 3 -->

    <div class="card border cb" style="width: 18rem">
      <a href="">
        <img src="assets/images/product-best-seller/contoh-hoodie-bsell.jpeg" class="card-img-top" alt="..." />
      </a>
      <div class="card-body" id="card-b">
        <h5 class="card-title mb-3">Hoodie Metal</h5>
        <s style="color: red"><p class="card-text" style="color: red; font-size: 1rem">Rp. 120.000</p></s>
        <h6 class="text-notdisc">Rp. 100.000</h6>
        <span class="mt-2">Size</span>
        <div class="container mt-4">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <div class="col border">S</div>
            <div class="col border">M</div>
            <div class="col border">L</div>
            <div class="col border">XL</div>
          </div>
        </div>
      </div>
      <div class="card-body" id="drawer-shopp">
        <span class="drawer-shopee">
          <a href="#" class="card-link" style="text-decoration: none">
            <img src="https://img.icons8.com/fluency/48/null/shopee.png" class="icon-shopee" />
          </a>
        </span>
        <span class="drawer-lazada">
          <a href="#" class="card-link" style="text-decoration: none">
            <img
              src="assets/icon/icon-lazada3.svg
            "
              class="icon-lazada"
            />
          </a>
        </span>
        <span class="drawer-tokopedia">
          <a href="#" class="card-link" style="text-decoration: none">
            <img src="assets/icon/icon-tokopedia2.svg" class="icon-tokopedia" />
          </a>
        </span>
        <span class="drawer-whatsapp">
          <a href="#" class="card-link" style="text-decoration: none">
            <img src="https://img.icons8.com/color/48/null/whatsapp--v1.png" class="icon-whatsapp" />
          </a>
        </span>
      </div>
    </div>
    <!-- 4 -->

    <div class="card border cb" style="width: 18rem">
      <a href="">
        <img src="assets/images/product-best-seller/contoh-hoodie-bsell.jpeg" class="card-img-top" alt="..." />
      </a>
      <div class="card-body" id="card-b">
        <h5 class="card-title mb-3">Hoodie Metal</h5>
        <s style="color: red"><p class="card-text" style="color: red; font-size: 1rem">Rp. 120.000</p></s>
        <h6 class="text-notdisc">Rp. 100.000</h6>
        <span class="mt-2">Size</span>
        <div class="container mt-4">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <div class="col border">S</div>
            <div class="col border">M</div>
            <div class="col border">L</div>
            <div class="col border">XL</div>
          </div>
        </div>
      </div>
      <div class="card-body" id="drawer-shopp">
        <span class="drawer-shopee">
          <a href="#" class="card-link" style="text-decoration: none">
            <img src="https://img.icons8.com/fluency/48/null/shopee.png" class="icon-shopee" />
          </a>
        </span>
        <span class="drawer-lazada">
          <a href="#" class="card-link" style="text-decoration: none">
            <img
              src="assets/icon/icon-lazada3.svg
            "
              class="icon-lazada"
            />
          </a>
        </span>
        <span class="drawer-tokopedia">
          <a href="#" class="card-link" style="text-decoration: none">
            <img src="assets/icon/icon-tokopedia2.svg" class="icon-tokopedia" />
          </a>
        </span>
        <span class="drawer-whatsapp">
          <a href="#" class="card-link" style="text-decoration: none">
            <img src="https://img.icons8.com/color/48/null/whatsapp--v1.png" class="icon-whatsapp" />
          </a>
        </span>
      </div>
    </div>
    <!-- 5 -->

    <div class="card border cb" style="width: 18rem">
      <a href="">
        <img src="assets/images/product-best-seller/contoh-hoodie-bsell.jpeg" class="card-img-top" alt="..." />
      </a>
      <div class="card-body" id="card-b">
        <h5 class="card-title mb-3">Hoodie Metal</h5>
        <s style="color: red"><p class="card-text" style="color: red; font-size: 1rem">Rp. 120.000</p></s>
        <h6 class="text-notdisc">Rp. 100.000</h6>
        <span class="mt-2">Size</span>
        <div class="container mt-4">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <div class="col border">S</div>
            <div class="col border">M</div>
            <div class="col border">L</div>
            <div class="col border">XL</div>
          </div>
        </div>
      </div>
      <div class="card-body" id="drawer-shopp">
        <span class="drawer-shopee">
          <a href="#" class="card-link" style="text-decoration: none">
            <img src="https://img.icons8.com/fluency/48/null/shopee.png" class="icon-shopee" />
          </a>
        </span>
        <span class="drawer-lazada">
          <a href="#" class="card-link" style="text-decoration: none">
            <img
              src="assets/icon/icon-lazada3.svg
            "
              class="icon-lazada"
            />
          </a>
        </span>
        <span class="drawer-tokopedia">
          <a href="#" class="card-link" style="text-decoration: none">
            <img src="assets/icon/icon-tokopedia2.svg" class="icon-tokopedia" />
          </a>
        </span>
        <span class="drawer-whatsapp">
          <a href="#" class="card-link" style="text-decoration: none">
            <img src="https://img.icons8.com/color/48/null/whatsapp--v1.png" class="icon-whatsapp" />
          </a>
        </span>
      </div>
    </div>

    <!-- end -->
  </div>
</div>
